.body {
    min-width: 300px;
    max-width: 1600px;
    padding: 5%;
    margin: auto;
    background-color: #e6dddd;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
}

.body__header {
    color: #db143c;
    background-color: #f8f4f4f8;
    text-align: center;
    border-radius: 15px;
    max-width: 800px;
    margin: auto;
    text-shadow: 2px 2px 8px #918686;
}

.body__listItem {
    list-style:none;
    margin: 5px;
}


